@font-face {
	font-family: Menlo-Regular
	src: url('font/Menlo-Regular.ttf')
}

body {
	color: #333;
	font-family: Menlo-Regular, Consolas, "Lucida Console", monospace;
	font-size: 19px;
	line-height: 22px;
	background-color: #282B35;
	word-wrap: break-word;
}

pre {
  color: #FFFFFF;
  font-family: inherit;
}

.comment {
	color: #4AC05E;
}

.string {
	color: #E74247;
}

.string > a {
	color: inherit;
	text-decoration: none;
}

.number, .character {
	color: #8983CD;
}

.keyword {
	color: #C33198;
}

.preprocessor {
  color: #D48F5D;
}

.URLs {
	color: #1133D6;
}

.class, .function, .variable {
	color: #93C971;
}

.otherClass, .otherFunction, .otherVariable {
	color: #00AFC9;
}

a {
  color: inherit;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 15px;
		line-height: 18px;
	}
}

@media only screen and (max-width: 520px) {
	body {
		font-size: 13px;
		line-height: 16px;
		word-wrap: normal;
	}
}